html,
body,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(245, 70, 82);
  text-shadow: 3px 3px 3px #c7f458;
}

.grid {
  width: 100vw;
  height: 100vh;
  /* background-position: center;
  background-size: contain;
  background-image: url("./media/Gekko_Green_.png"); */
}

.darker {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7d37e7;
  opacity: 0.1;
}

.header {
  position: absolute;
  background-color: rgb(16, 26, 36);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  height: 10vh;
  width: 100%;
  opacity: 0.95;
}

nav {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 10vh;
  justify-content: space-evenly;
}

li {
  display: grid;
  font-weight: bold;
  font-size: 250%;
  float: left;
  list-style-type: none;
  height: 100%;
  align-content: center;
  justify-content: center;
  transform: scale(0.7);
  transition: all 0.2s;
}

li:hover {
  border-radius: 20px;
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: rgb(199, 244, 88);
  transform: scale(1);
}

li a {
  margin: auto;
  height: 100%;
  text-align: center;
}

.logo {
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}

.logo img {
  margin: 0;
  height: 100%;
  object-fit: contain;
}

.main {
  z-index: -2;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100vh;
}

.main .vod {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: 0;
}

.social {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  justify-content: center;
  justify-items: center;
}

.social i {
  font-size: 300%;
  transform: scale(0.9);
  transition: all 0.2s;
}

footer a i:hover {
  transform: scale(1.1);
}

footer i:first-child {
  margin-left: 1%;
}

.bgm {
  display: grid;
  justify-items: end;
  width: 100%;
}

.bgmViewHide {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90px;
}

.bgmToggle .active {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90px;
}

footer .bgmToggle {
  z-index: 99;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-width: 0;
  background-color: rgb(16, 26, 36);
  color: rgb(245, 70, 82);
  text-shadow: 2px 2px 2px rgb(199, 244, 88);
  font-weight: bold;
  font-size: xx-large;
}
